@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.7;
    filter: blur(0px);
  }
  25% {
    /* transform: translate(-50%, -50%) scale(1.2); */
    opacity: 0.5;
    filter: blur(2px);
  }
  50% {
    /* transform: translate(-50%, -50%) scale(2.5); */
    opacity: 0.3;
    filter: blur(4px);
  }
  75% {
    /* transform: translate(-50%, -50%) scale(3.2); */
    opacity: 0.15;
    filter: blur(6px);
  }
  85% {
    /* transform: translate(-50%, -50%) scale(3.2); */
    opacity: 0.1;
    filter: blur(7px);
  }
  100% {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
    filter: blur(8px);
  }
}


.ripple-circle {
  @apply absolute w-96 h-96 rounded-full opacity-40;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ripple 4s ease-out infinite;
  mix-blend-mode: screen;
  background: radial-gradient(circle, #8b5cf6, #ec4899, transparent);
  filter: blur(6px);
}


.ripple-circle.delay {
  animation-delay: 2s;
}

.ripple-circle.delay-2 {
  animation-delay: 4s;
}


/* typing words */

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}


html {
  scroll-behavior: smooth;
}


.carousel-slider {
  overflow: visible !important;
}

.carousel-slider .swiper-wrapper {
  overflow: visible !important;
}

.carousel-slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: all 0.3s ease;
}